 *{
   font-family: "Work Sans",;
 }
   /* comon class */
   .display{
    display: flex;
   }

 #mainheader{
  max-width: 1200px;
  margin: auto;
  align-items: center;
 justify-content: space-between;
 }
  #mainheader ul {
    gap: 40px;
    
  }
  #mainheader li{
    list-style: none;
  }
  #mainheader a{
    text-decoration: none;
    color: black;
    font-size: 20px;
  }
  .manu{
    margin-right: 50px;
  }
  #banar{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
  }
  .banarcontent h1{
    font-size: 4rem;
    margin-bottom: 20px;

  }
    .banarcontent button{
      padding: 15px 25px;
      background-color: orange;
      border: none;
      border-radius: 10px;
      margin-bottom: 20px;
      color:white;
      cursor: pointer;
    }
    #secontent{
      display: flex;
      justify-content: center;
      margin-top: 30px;
      gap: 30px;
      align-items: center;
    }
    .sectionimg{
      display: grid;
      grid-template-columns: repeat(2,1fr);
      gap: 20px;
    }
    .sectioncon h1{
      color: orange;
      font-size: 45px;
      margin-bottom: 10px;
    }
    .sectioncon{
      opacity: 0.7;
    }
    .sectioncon button{
      padding: 15px 25px;
      background-color: orange;
      border: none;
      border-radius: 10px;
      margin-bottom: 20px;
      color:white;
      cursor: pointer;
    }




  @media screen and (max-width:576px) {
    #mainheader{
      flex-wrap:wrap;
      justify-content: center;
    }
    .banarcontent h1{
      font-size: 37px;
      margin-bottom: 0;
    }
    .banarcontent p{
      font-size: 7px;
      margin: 10px;
     
    }
    .banarimg img{
      width: 90%;
    }
     #secontent{
      flex-wrap: wrap;
     }

     .sectionimg{
      grid-template-columns: 1fr;

     }
     .sectioncon{
      text-align: center;
     }
     }
     

 